<div class="hero-unit">
	<h2 class="title-bottom">CONTACTING</h2>
	<h3 class='title-top darker'>WIGGLEWARE</h3>
	
	<br />
	<br />
	
	<h6 class="center skinny darker">Wiggleware Tech Consultancy</h6>
	<h6 class="center skinny darker">Sacramento | California | United States</h6>
	
	<br />
	<br />
	
	<p class="center">
		<a href="mailto:jpx@wiggleware.com" class="btn btn-large btn-danger skinny">
			SEND AN EMAIL 
			&nbsp;
			<i class="icon-chevron-right"></i></a>
	</p>
	
	<br />
	<br />
	
	<p>
		<a href="https://github.com/ruffrey" class="btn">
			<i class="icon-github"></i>
			&nbsp;
			GitHub
		</a>
		&nbsp;
		&nbsp;
		<a href="https://npmjs.org/~ruffrey" class="btn">
			NPM
		</a>
	</p>
</div>
