<div class="jumbotron center">
	<h1>CONTACTING</h1>
	<h2>WIGGLEWARE</h2>
</div>
<br />

<h6 class="center">Wiggleware Tech Consultancy</h6>
<h6 class="center">Sacramento, California, United States</h6>

<br />

<p class="center">
	<a href="mailto:jpx@wiggleware.com" class="btn btn-large btn-danger">
		SEND AN EMAIL 
		&nbsp;
		<i class="icon-envelope"></i>
	</a>
	<br />
	<br />
	jpx@wiggleware.com
</p>

<br />
<br />

<p class="center">
	<a href="https://github.com/ruffrey" 
		title="Wiggleware's open source projects on github"
		class="btn btn-default">
		<i class="icon-github"></i>
		&nbsp;
		GitHub
	</a>
	&nbsp;
	&nbsp;
	<a href="https://npmjs.org/~ruffrey" 
		title="Wiggleware on the node.js module registry"
		class="btn btn-default">
		<img src="/img/npm.png" width="40px" />
	</a>
</p>

