<div class="hero-unit">
	<h1>Let's chat</h1>
	<p>
		<a href="mailto:jpx@wiggleware.com" class="btn">Send an email &raquo;</a>
	</p>
	<!--
	<p>
		<br />
		<object type="application/x-shockwave-flash"
		data="https://clients4.google.com/voice/embed/webCallButton" 
		width="230" height="85">
			<param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" />
			<param name="wmode" value="transparent" />
			<param name="FlashVars" 
			value="id=605290ef28deaa99d905a51c3d6e4aefb01d9f31&style=0" />
		</object>
		
	</p>
	-->
</div>
