<div class="hero-unit">
	<h1 class="title-top">TECH</h1>
	<h2 class='title-bottom'>CONSULTANCY</h2>
	<br />
	<br />
	<h5 class="skinny center">
		helping people one line of code at a time
	</h5>
	<br />
	<br />
	<h3 class="skinny">products for the web <strong>on time, 
	on budget, better than expected</strong>
		&nbsp;
		<i class="icon-cloud icon-large lighter"></i>
		&nbsp;
		<i class="icon-cogs icon-large lighter"></i>
	</h3>
	<br />
	<br />
	<h3 class="skinny">value based pricing
		<span style="font-size:1.4em;font-weight:bold;"class="lighter">$$</span>
	</h3>
	
	<br />
	<br />
	<h3 class="skinny">from sunny California, the tech hotbed
		&nbsp;<i class="icon-certificate icon-large lighter"></i></h3>
	<span class="help-block lighter">
		<br />
		<br />
		
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-bar-chart icon-large"></i></span>
		&nbsp;
		Custom analytics
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-dashboard icon-large"></i></span>
		&nbsp;
		Business process automation
		
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-credit-card icon-large"></i></span>
		&nbsp;
		eCommerce
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-barcode icon-large"></i></span>
		&nbsp;
		Inventory tracking
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-comment-alt icon-large"></i></span>
		&nbsp;
		Social interaction
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-globe icon-large"></i></span>
		&nbsp;
		Remote management
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-signal icon-large"></i></span>
		&nbsp;
		Mobilize your business
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-leaf icon-large"></i></span>
		&nbsp;
		Gain efficiency
		<br />
		
		
	</span>
	
</div>
