<div class="hero-unit">
	<h1 class="title-top">TECH</h1>
	<h2 class='title-bottom'>CONSULTANCY</h2>
	</h3>
	<br />
	<h5 class="skinny center">
		helping people one line of code at a time
	</h5>
	<br />
	<br />
	<h3>Wiggleware is a Sacramento, CA web tech agency specializing in Node.js.
		<a href="/contact">Contact us</a> if you want your web apps
		to rock.
	</h3>
		
	<br />
	<br />
	<h3 class="skinny">WE BUILD PRODUCTS THAT RUN ON THE CLOUD.</h3>
	<br />
	<br />
	<h4 class="skinny"><strong>On time, 
	on budget, better than expected.</strong>
		&nbsp;
		<i class="icon-cloud icon-large lighter"></i>
		&nbsp;
		<i class="icon-cogs icon-large lighter"></i>
	</h4>
	
	<br />
	<br />
	<p class="darker">Not overcomplicating your project or your stack.</p>
	<br />
	<h3 class="skinny">Using the forces of Node.js for good.</h3>
	
	<br />
	<span class="help-block lighter">
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-leaf icon-large"></i></span>
		&nbsp;
		Clean HTTP APIs
		
		<br />
		<br />
		
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-bar-chart icon-large"></i></span>
		&nbsp;
		Custom analytics
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-dashboard icon-large"></i></span>
		&nbsp;
		Business process automation
		
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-credit-card icon-large"></i></span>
		&nbsp;
		eCommerce
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-barcode icon-large"></i></span>
		&nbsp;
		Inventory tracking
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-comment-alt icon-large"></i></span>
		&nbsp;
		Social interaction
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-globe icon-large"></i></span>
		&nbsp;
		High performing websites
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-truck icon-large"></i></span>
		&nbsp;
		Responsive and mobile design
		<br />
		<br />
		
		
	</span>
	
	<br />
	<br />
	<h3 class="skinny">Enjoying life in Sacramento, California.</h3>
		
</div>
