<div class="hero-unit">
	<h1 class="title-top">TECH</h1>
	<h2 class='title-bottom'>CONSULTANCY</h2>
	<br />
	<br />
	<h5 class="skinny center">
		helping people one line of code at a time
	</h5>
	<br />
	<br />
	<h3 class="skinny">PRODUCTS FOR THE WEB</h3>
	<h3 class="skinny"><strong>on time, 
	on budget, better than expected</strong>
		&nbsp;
		<i class="icon-cloud icon-large lighter"></i>
		&nbsp;
		<i class="icon-cogs icon-large lighter"></i>
	</h3>
	
	<br />
	<br />
	<h3 class="skinny">making business apps that rock</h3>
	<br />
	
	<br />
	<h3 class="skinny">using the forces of Node.js for good</h3>
	
	<br />
	<span class="help-block lighter">
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-leaf icon-large"></i></span>
		&nbsp;
		Clean APIs
		
		<br />
		<br />
		
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-bar-chart icon-large"></i></span>
		&nbsp;
		Custom analytics
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-dashboard icon-large"></i></span>
		&nbsp;
		Business process automation
		
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-credit-card icon-large"></i></span>
		&nbsp;
		eCommerce
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-barcode icon-large"></i></span>
		&nbsp;
		Inventory tracking
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-comment-alt icon-large"></i></span>
		&nbsp;
		Social interaction
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-globe icon-large"></i></span>
		&nbsp;
		Remote collaboration
		<br />
		<br />
		<span style="font-size:1.4em;vertical-align:text-bottom;"><i class="icon-truck icon-large"></i></span>
		&nbsp;
		Responsive and mobile
		<br />
		<br />
		
		
	</span>
	
	<br />
	<br />
	<h3 class="skinny">enjoying life from Sacramento, California</h3>
		
</div>
