<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><%=title%></title>
    <meta name="description" content="Sacramento Software Services from Wiggleware." />
	<meta name="author" content="Jeff Parrish" />
	<meta name="keywords" 
	  content="sac, sacramento, software, web business, web dev, development, web developer, developer, asp.net, node.js, javascript, java script, couch, couchdb, couch db, content management, knowledge base, human services" />

    <meta name="viewport" content="width=device-width" />

    <!-- The HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/ww.js"></script>

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
	<!--[if lt IE7]>
		<link rel="stylesheet" href="/css/font-awesome-ie.css">
	<![endif]-->
	
    <!-- The fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">
	<script type="text/javascript">
	  var _gaq=_gaq||[];_gaq.push(['_setAccount','UA-9491937-4']);_gaq.push(['_setDomainName','wiggleware.com']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();
	</script>
  </head>
  <body>
    <div class="container">
		<div class="row-fluid">
			<div class="span3">
				<ul id="navigation" class="nav nav-list">
				  <li class="nav-header">
						<h3><a href="/">Wiggleware</a></h3>
				  </li>
				  <li>
					<a href="/">
						<i class="icon-home icon-white icon-large"></i>
						Home
					</a>
				  </li>
				  <li>
				   <a href="/workstuff">
					  <i class="icon-briefcase icon-large icon-white"></i>
						Services
					</a>
				  </li>
				  
				  <li>
				   <a href="/yaycode">
					  <i class="icon-white icon-large"><strong>{&nbsp;}</strong></i>
						Skills
					</a>
				  </li>
				  <li>
				   <a href="//blog.wiggleware.com">
					  <i class="icon-rss icon-white icon-large"></i>
						Blog
					</a>
				  </li>
				  <li>
				   <a href="/contact">
					  <i class="icon-envelope icon-white icon-large"></i>
						Say Hello
					</a>
				  </li>
				</ul>
			</div>
			<div class="span9">
				 <%- body %>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<h6>
					&copy; <%- (new Date()).getFullYear() %> Wiggleware
				</h6>
			</div>
			<div class="span6" style="text-align: right;">
				<h6>
					Running on <a href="//expressjs.com">Express.js</a> 
					&amp; 
					<a href="//jit.su">Nodejitsu</a>
				</h6>
			</div>
			
		</div>
    </div>
  </body>
</html>
