<h1>A selection of websites and solutions created by WIGGLEWARE</h1>

<br />

<h2><a href="http://www.recoveryhappens.com">Recovery Happens Counseling Services</a></h2>
<h3>Redesign, SEO, Migration, and Newsfeed</h3>
<p>RHCS had a successful content-rich website. They
	asked us to keep it intact but give it a 
	professional, mobile-friendly feel.</p>
<p>They also wanted to develop a news service which increases awareness 
	of drug trends.</p>
<p>Wiggleware built a clean showcase for their high-quality content and improved
	the appeal of the <a href="http://www.recoveryhappens.com/checkout.html">Recovery Happens online store.</a> We created a news 
		feed using dynamic web scraping technologies.</p>

<div class="well">
	<p><em>Wiggleware delivered on time and on budget. My expectations on the 
		design were exceeded. Highly recommended.</em></p>
	<span class="help-block right">Jon Daily, LCSW, CADC-II</span>
</div>
