<div class="jumbotron">
	
	<h1>WEB DEV</h1>
	<h2>SERVICES</h2>
	<h3>by Wiggleware</h3>
	
	<span class="label label-info">Design</span>
	<span class="label label-warning">Architecture</span>
	<span class="label label-primary">Development</span>
	<br />
	<br />
	
	<h2>
		Unique Expertise in Software Craftsmanship
	</h2>
	<h4 class="skinny">Crafting business-centric tech is an</h4>
	<h5>APPROACH,</h5>
	<h5>ATTITUDE,</h5>
	<h5>&amp; UNDERSTANDING.</h5>
	<p>The purpose is <strong>not</strong> to build you a website. 
		You are getting a business parter.</p>
	<p>We want to develop online 
	products and services that get you <strong>real</strong> business. Every decision 
	is made to funnel relevant interest into your web presence.</p>
	<br />
	
	<h2>Who We Help</h2>
	<h3><strong>WIGGLEWARE provides expert Node.js</strong> consulting for 
		large and small businesses and goverment agencies.</h3>
	<p>Aside from Node and beautiful Javascript, WIGGLEWARE can rock 
		your .NET stack.</p>
	
	<br />
	
	<h2>How It Gets Done</h2>
	<h3><strong>Quickly.</strong> We move fast to build you a 
		sweet, easy to maintain <a href="//nodejs.org">Node stack</a> that'll 
		run circles around anything
		else and refuse to go down.</h3>
	
	<h4>
		<strong>From HTTP APIs to custom SMTP clusters to websites.</strong>
		Coding your whole solution, back to front.
	</h4>
	
	<h4><strong>Getting it done faster</strong>
		because we know and use the best technology, don't overcomplicate,
		and have a small team.</h4>
	
	
	<br />
	
	<h2>Core Values</h2>
	<p>Simple &amp; focused.</p>
	<p>No IT BS.</p>
	<p>Honesty at every step.</p>
	<p>Fast iterations.</p>
	<p><a href="//github.com/ruffrey">Open source</a> way of life.</p>
	<p>Right tools for the job.</p>
	
	<br />
	
	<p>
		<a href="/contact" class="btn btn-success btn-large">
			Email Wiggleware now &raquo;</a>
	</p>
	
</div>
