<style type="text/css">
	div.serv h2,
	div.serv h3h3{line-height:1em;font-weight:100;}
	div.serv h4{margin-left:20px;}
</style>
<div class="hero-unit serv">
	<h1>Services</h1>
	<br />
	<h2>
		As your software craftsman, I'll improve your bottom line, 
		keep you informed and make you very happy.
	</h2>
	
	<br />
	<br />
	
	<h3>Crafting business-centric tech is an</h3>
	<br />
	<h4>APPROACH,</h4>
	<h4>ATTITUDE,</h4>
	<h4>&amp; UNDERSTANDING.</h4>
	
	<br />
	<br />
	
	<h3>My core values</h3>
	<br />
	<h4>- efficient &amp; innovative</h4>
	<h4>- friendly</h4>
	<h4>- simple &amp; focused</h4>
	<h4>- honesty at every step</h4>
	
	<br />
	<br />
	
	<h3>Always</h3>
	<br />
	<h4>- transparent project progress</h4>
	<h4>- simple continuous integration</h4>
	<h4>- leverage open source</h4>
	<h4></h4>
	
</div>
