<div class="hero-unit serv">
	<h1 class="skinny title-bottom">SERVICES</h1>
	<br />
	<br />
	<h2 class="skinny center darker">
		NODE.JS CRAFTSMANSHIP
	</h2>
	
	<br />
	<br />
	
	<h3 class="skinny">Crafting business-centric tech is an</h3>
	<h4>APPROACH,</h4>
	<h4>ATTITUDE,</h4>
	<h4>&amp; UNDERSTANDING.</h4>
	
	<br />
	<br />
	
	<h2 class="skinny"><strong>WIGGLEWARE provides expert Node.js</strong> consulting for 
		large and small businesses and goverment agencies.</h4>
	<br />
	<h2 class="skinny darker"><strong>We move fast.</strong> We'll build you a sweet, easy to 
		maintain Node stack that'll run circles around anything else
		and refuse to go down.</h2>
	
	<br />
	
	<h2 class="skinny darker">
		<strong>From HTTP APIs to custom SMTP clusters to websites.</strong>
		Coding your whole solution, back to front.
	</h2>
	<br />
	
	<h2 class="skinny darker"><strong>Getting it done faster</strong>
		because we know and use the best technology, keep things simple,
		and have a small team.</h2>
	<br />
	
	<h2 class="center">core values</h2>
	<p class="center">simple &amp; focused. no IT BS.</p>
	<p class="center">honesty at every step</p>
	<p class="center">fast iterations</p>
	<p class="center">open source is a way of life</p>
	<p class="center">right tool for the job</p>
	
	<br />
	
	<p class="center">
		<a href="/contact" class="btn btn-success btn-large">
			Email Wiggleware now &raquo;</a>
	</p>
	
</div>
