<div class="hero-unit serv">
	<h2 class="skinny title-bottom">SERVICES</h2>
	<br />
	<br />
	<h3 class="skinny center darker">
		SOFTWARE CRAFTSMANSHIP
	</h3>
	
	<br />
	<br />
	
	<h3 class="skinny">Crafting business-centric tech is an</h3>
	<h4>APPROACH,</h4>
	<h4>ATTITUDE,</h4>
	<h4>&amp; UNDERSTANDING.</h4>
	
	<br />
	<br />
	
	<h2>core values</h2>
	<h4>simple &amp; focused</h4>
	<h4>honesty at every step</h4>
	<h4>keep it classy</h4>
	<h4>make you a healthy bottom line</h4>
	
	<br />
	<br />
	
	<h2>always</h2>
	<h4>highly creative</h4>
	<h4>transparent project progress</h4>
	<h4>simple continuous integration</h4>
	<h4>leverage open source</h4>
	
</div>
