body {
  padding-top: 60px;
  padding-bottom: 40px;

}
.navbar-fixed-top {
  box-shadow: 0px 0px 3px #000;
  border-bottom: 1px solid #999;
}
ul#navigation li.active a {
	color: #fff;
}
ul#navigation li {
	text-transform: uppercase;
	vertical-align: middle;
	text-align: right;
}
ul#navigation i {
	float: left;
}
ul#navigation li a {
	padding: 10px 2px;
	color: #fff;
}

ul#navigation li a:hover {
	color: #000!important;
}
ul#navigation li h3 a:hover {
	text-decoration: none;
	color: #454545 !important;
}
.hero-unit h1 {
	margin-bottom: 10px;
	font-weight: 100;
}
ul.icons *, ol.icons *{
	list-style-type: none;
}
.icons i{
	margin-right: 3px;
}
.icons a{
	color: #fff;
}
.icon-large{vertical-align:text-bottom;font-size:1.3em;}
.code{
	padding: 10px;
	background: #1d505f;
	color: #fff;
	border-radius: 4px;
	-moz-border-radius: 4px;
	font-family: 'Monaco','Consolas','Monospace';
	font-size: 1em;
}
.skinny{font-weight:100;letter-spacing:1px;}
.lighter{color:#ababab;}
.darker{color:#828282;}
.blacker{color:#000;}
.center{
	text-align:center;
}
.title-top{
	text-align:center;
	font-weight: 100;
	letter-spacing: 0px;
	font-family: monospace;
}
.title-bottom{
	text-align:center;
	font-weight: 100;
	margin-top: -20px;
	letter-spacing: 1px;
	font-family: monospace;
}
