<!-- Embedded JavaScript -->

<div class="hero-unit">
	<h1>Services</h1>
	
	<h2>Quality software development is</h2>
	<h3>an approach</h3>
	<h3>an attitude</h3>
	<h3>an understanding</h3>
	
	<br />
	<br />
	
	<h2>CORE VALUES</h2>
	<h6>on every project</h6>
	<br />
	<h4>friendly and prompt service</h4>
	<h4>honesty at every step</h4>
	<h4>simple &amp; focused</h4>
	<h4>efficient &amp; innovative</h4>
	
	<br />
	<br />
	
	<h2>DEVELOPMENT PREFERENCES</h2>
	<h6>for max gains</h6>
	<br />
	<h4>transparent project progress</h4>
	<h4>simple continuous integration</h4>
	<h4>leverage open source</h4>
	<h4></h4>
	
</div>
