<!-- Embedded JavaScript -->

<div class="hero-unit">
	<h1>You will receive</h1>
	
	<h4>friendly and prompt service</h4>
	<h4>honesty at every step</h4>
	<h4>a clear project map</h4>
	<h4>something you are happy with</h4>
		
</div>
